### Makefiles
*makefile*



### Executable
**/exe/test/
mpec

###object folders
*obj/*

###Tests
EG_test/

### Compiled Objects
*.o
.vscode
*.txt
*.out

### Tarballs
*.tgz
*.tar

###Python scaffolding
*.py

###Bash scaffolding
*find_ibcoff_vars.sh

### Documentation
*.pdf

### Mac native things
.DS_Store
