      parameter (id=2000)
cddi1      parameter (mxcproc=1000)
cddi1      common/mpicom/my_comm_group,mymast,mymemp,iranks(mxcproc),mnmc,
cddi1     $ mdata(4,id),ndata,iwinbase
cddi4      common/mpi3cm/mdata(5,id),ndata
